<a href="https://colab.research.google.com/github/MasudurRahman34/Data-Warehouse-and-Business-Intelligence/blob/main/week2/merging_multiple_database.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [24]:
#Connect to MYSQL via Python
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /usr/local/lib/python3.10/dist-packages (8.3.0)

In [25]:
#Setting Up MySQL on Google Colab
!apt-get -y install mysql-server

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
mysql-server is already the newest version (8.0.35-0ubuntu0.22.04.1).
0 upgraded, 0 newly installed, 0 to remove and 31 not upgraded.

In [26]:
#Starting the MySQL Server
!service mysql start

 * Starting MySQL database server mysqld
   ...done.

In [27]:
#Secure Your MySQL Installation (Optional)
!mysql -e "ALTER USER 'root'@'localhost' IDENTIFIED WITH 'mysql_native_password' BY 'root';FLUSH PRIVILEGES;"

ERROR 1045 (28000): Access denied for user 'root'@'localhost' (using password: NO)

In [35]:
#Connect Securely to MySQL
import mysql.connector

# Create a connection to the MySQL server
musqlConn = mysql.connector.connect(user='root', password='root', host='localhost')

# Create a cursor to interact with the MySQL server
musqlCursor = musqlConn.cursor()

In [38]:
#Create a new database space named 'library1'
musqlCursor.execute("CREATE DATABASE IF NOT EXISTS library1")

# Switch to the 'library' database space
musqlCursor.execute("USE library1")

In [41]:
#create table in database
musqlCursor.execute('''CREATE TABLE jobs( job_id INT(3),
                   job_title VARCHAR(50) unique not null,
                   min_salary DECIMAL(8,2) not null,
                   max_salary DECIMAL(8,2) not null,
                   PRIMARY KEY (job_id));''')
#commit and save changes to database
musqlConn.commit()

In [50]:
#create table in database
musqlCursor.execute('''DELETE from jobs;''')
#commit and save changes to database
musqlConn.commit()

In [51]:
# Insert sample data on table job in SQLITE
Jobs=[(1901, 'Managing Director', 75000, 125000),
(1902, 'Programmer', 35000, 80000),
(1903, 'Sales Rep', 25000, 45000),
(1904, 'Project Manager', 45000, 95000),
(1905, 'Marketing Manager', 37000, 68000),
(1906, 'Marketing Producer', 34000, 70000),
(1907, 'Operations Manager', 28000, 41000),
(1908, 'Sales Administrator', 38000, 65000),
(1909, 'Database Architect', 44000, 73000),
(1910, 'Operations Officer', 32000, 61000),
(1911, 'IT Tester', 38000, 55000)]

musqlCursor.executemany('''Insert Into jobs (job_id, job_title, min_salary, max_salary) VALUES (%s, %s, %s, %s)''', Jobs)
musqlConn.commit()

In [52]:
# Run a Sample Query to SQLITE Server to fetch all records
import pandas as pd
query1 = "SELECT * FROM jobs"
df1 = pd.read_sql_query(query1,musqlConn)
df1

<ipython-input-52-8cf097721d35>:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df1 = pd.read_sql_query(query1,musqlConn)

    job_id            job_title  min_salary  max_salary
0     1901    Managing Director     75000.0    125000.0
1     1902           Programmer     35000.0     80000.0
2     1903            Sales Rep     25000.0     45000.0
3     1904      Project Manager     45000.0     95000.0
4     1905    Marketing Manager     37000.0     68000.0
5     1906   Marketing Producer     34000.0     70000.0
6     1907   Operations Manager     28000.0     41000.0
7     1908  Sales Administrator     38000.0     65000.0
8     1909   Database Architect     44000.0     73000.0
9     1910   Operations Officer     32000.0     61000.0
10    1911            IT Tester     38000.0     55000.0

In [54]:
# create table jobs in SQLITE
import pandas as pd
import sqlite3
# connect to existing database
sqliConn = sqlite3.connect('job2.db')
sqliCursor = sqliConn.cursor()
#create table in database
sqliCursor.execute('''CREATE TABLE jobs
                ( job_id  		INT(3),
                 job_title		VARCHAR(50) unique not null,
                min_salary		DECIMAL(8,2) not null,
                max_salary		DECIMAL(8,2) not null,
                PRIMARY KEY (job_id));
                ''')
#commit and save changes to database
sqliConn.commit()

In [55]:
# Insert sample data on table job in SQLITE
Jobs=[(901, 'Managing Director', 75000, 125000),
(902, 'Programmer', 35000, 80000),
(903, 'Sales Rep', 25000, 45000),
(904, 'Project Manager', 45000, 95000),
(905, 'Marketing Manager', 37000, 68000),
(906, 'Marketing Producer', 34000, 70000),
(907, 'Operations Manager', 28000, 41000),
(908, 'Sales Administrator', 38000, 65000),
(909, 'Database Architect', 44000, 73000),
(910, 'Operations Officer', 32000, 61000),
(911, 'IT Tester', 38000, 55000)]

sqliCursor.executemany('Insert Into jobs Values (?,?,?,?)', Jobs)

In [56]:
sqliConn.commit()

In [57]:
# Run a Sample Query to SQLITE Server to fetch all records
query1 = "SELECT * FROM jobs"
df2 = pd.read_sql_query(query1,sqliConn)
df2

    job_id            job_title  min_salary  max_salary
0      901    Managing Director       75000      125000
1      902           Programmer       35000       80000
2      903            Sales Rep       25000       45000
3      904      Project Manager       45000       95000
4      905    Marketing Manager       37000       68000
5      906   Marketing Producer       34000       70000
6      907   Operations Manager       28000       41000
7      908  Sales Administrator       38000       65000
8      909   Database Architect       44000       73000
9      910   Operations Officer       32000       61000
10     911            IT Tester       38000       55000

In [58]:
# Merge the jobs table data from MySQL stored in df with jobs table data from MySQL stored in df1
# Stored the merged  data in the result pandas frame
result = pd.concat([df1, df2], ignore_index=True, sort=False)
result

    job_id            job_title  min_salary  max_salary
0     1901    Managing Director     75000.0    125000.0
1     1902           Programmer     35000.0     80000.0
2     1903            Sales Rep     25000.0     45000.0
3     1904      Project Manager     45000.0     95000.0
4     1905    Marketing Manager     37000.0     68000.0
5     1906   Marketing Producer     34000.0     70000.0
6     1907   Operations Manager     28000.0     41000.0
7     1908  Sales Administrator     38000.0     65000.0
8     1909   Database Architect     44000.0     73000.0
9     1910   Operations Officer     32000.0     61000.0
10    1911            IT Tester     38000.0     55000.0
11     901    Managing Director     75000.0    125000.0
12     902           Programmer     35000.0     80000.0
13     903            Sales Rep     25000.0     45000.0
14     904      Project Manager     45000.0     95000.0
15     905    Marketing Manager     37000.0     68000.0
16     906   Marketing Producer     34000.0     70000.0
17     907   Operations Manager     28000.0     41000.0
18     908  Sales Administrator     38000.0     65000.0
19     909   Database Architect     44000.0     73000.0
20     910   Operations Officer     32000.0     61000.0
21     911            IT Tester     38000.0     55000.0

In [59]:
# write the merged data as table named unionoftables in SQLITE
result.to_sql('unionoftables', con=sqliConn)

# Retrieve the data  from the table named unionoftables
query3 = "SELECT * FROM unionoftables"
df3 = pd.read_sql_query(query3,sqliConn)
df3

    index  job_id            job_title  min_salary  max_salary
0       0    1901    Managing Director     75000.0    125000.0
1       1    1902           Programmer     35000.0     80000.0
2       2    1903            Sales Rep     25000.0     45000.0
3       3    1904      Project Manager     45000.0     95000.0
4       4    1905    Marketing Manager     37000.0     68000.0
5       5    1906   Marketing Producer     34000.0     70000.0
6       6    1907   Operations Manager     28000.0     41000.0
7       7    1908  Sales Administrator     38000.0     65000.0
8       8    1909   Database Architect     44000.0     73000.0
9       9    1910   Operations Officer     32000.0     61000.0
10     10    1911            IT Tester     38000.0     55000.0
11     11     901    Managing Director     75000.0    125000.0
12     12     902           Programmer     35000.0     80000.0
13     13     903            Sales Rep     25000.0     45000.0
14     14     904      Project Manager     45000.0     95000.0
15     15     905    Marketing Manager     37000.0     68000.0
16     16     906   Marketing Producer     34000.0     70000.0
17     17     907   Operations Manager     28000.0     41000.0
18     18     908  Sales Administrator     38000.0     65000.0
19     19     909   Database Architect     44000.0     73000.0
20     20     910   Operations Officer     32000.0     61000.0
21     21     911            IT Tester     38000.0     55000.0

In [62]:
from google.colab import files

files.download('job2.db')